# This file is part of the visdriver project.
#
# Copyright (c) 2023 Sebastian Pipping <sebastian@pipping.org>
#
# visdriver is free software: you can redistribute it and/or modify it under
# the terms of the GNU General Public License as published by the Free
# Software Foundation, either version 3 of the License, or (at your option)
# any later version.
#
# visdriver is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
# FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
# more details.
#
# You should have received a copy of the GNU General Public License along
# with visdriver. If not, see <https://www.gnu.org/licenses/>.

name: Build on Linux

# Drop permissions to minimum, for security
permissions:
  contents: read

on:
  pull_request:
  push:
  schedule:
    - cron: '0 2 * * 5'  # Every Friday at 2am
  workflow_dispatch:

jobs:
  linux-mingw:
    name: Build on Linux
    runs-on: ubuntu-24.04
    steps:

    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0

    - name: Install build dependencies
      run: |-
        set -x
        sudo apt-get update
        sudo apt-get install --yes --no-install-recommends -V \
            build-essential \
            cmake \
            mingw-w64

    - name: Configure
      run: |-
        cmake \
          -DCMAKE_TOOLCHAIN_FILE=cmake/mingw-toolchain.cmake \
          -DCMAKE_BUILD_TYPE=RelWithDebInfo \
          -S . \
          -B build

    - name: Make
      run: |-
        make -C build -j$(nproc) VERBOSE=1

    - name: Prepare build artifacts for upload
      run: |-
        mkdir "visdriver_win32bin_mingw_${{ github.sha }}"
        cp -v \
          COPYING \
          README.md \
          /usr/i686-w64-mingw32/lib/libwinpthread-1.dll \
          /usr/lib/gcc/i686-w64-mingw32/*-posix/libgcc_s_dw2-1.dll \
          /usr/lib/gcc/i686-w64-mingw32/*-posix/libstdc++-6.dll \
          build/visdriver.exe \
          "visdriver_win32bin_mingw_${{ github.sha }}"/

    - name: Upload build artifacts
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4  # v5.0.0
      with:
        name: "visdriver_win32bin_mingw_${{ github.sha }}"
        path: "visdriver_win32bin_mingw_${{ github.sha }}/"
        if-no-files-found: error
